# Logs
logmarks
*.logmark
npm-debug.logmark*
yarn-debug.logmark*
yarn-error.logmark*
pnpm-debug.logmark*
lerna-debug.logmark*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
