# Logs
log1111111s
*.log1111111
npm-debug.log1111111*
yarn-debug.log1111111*
yarn-error.log1111111*
pnpm-debug.log1111111*
lerna-debug.log1111111*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
