# Logs
log1s
*.log1
npm-debug.log1*
yarn-debug.log1*
yarn-error.log1*
pnpm-debug.log1*
lerna-debug.log1*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
